.aa-titleBar {
    display: flex;
    justify-content: space-between;;
    height: 2rem;
    padding: 0.5rem;

    .aa-title {
        align-items: center;
        display: flex;
        font-size: 1rem;
        font-weight: bold;
        justify-content: center;
        width: 100%;
    }

    .aa-buttons {
        align-items: center;
        display: flex;
        position: absolute;
        right: 0;
        top: 0;

        .aa-button {
            height: 1.5rem;
            min-width: unset;
            width: 1.5rem;
        }

        .aca-button + .aca-button {
            margin-left: 0.25rem;
        }
    }
}
